body {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  min-height: 100%;
  padding: 2rem;
}
h1 {
  font-size: 2rem;
  line-height: 2rem;
  margin: 0 0 1em;
}
main {
  overflow: hidden;
  position: relative;
}
p.error {
  clear: both;
  color: #f00;
  padding: 0.25rem;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
form,
.addresses {
  float: left;
  width: 60%;
}
.events {
  float: right;
  width: 40%;
}
.addresses pre {
  cursor: pointer;
  display: inline-block;
  padding: 0.5em;
}
.addresses .selected > pre {
  outline: 1px dashed #333;
}
[data-reach-dialog-content] {
  border-radius: 3px;
  background: #fafafa !important;
  padding: 2rem;
}
.button {
  border: none;
  padding: 0.5rem 1.75rem;
  border-radius: 3px;
  font-size: 12px;
  background-color: #c03cec;
  cursor: pointer;
  color: #fff;
}
.close-button:hover {
  background-color: #b01fe0;
}
.json-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  margin-bottom: 1rem;
}
.display-json-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.json-line {
  display: flex;
  padding: 0.5rem 0;
  gap: 1rem;
}
.json-line.green {
  border: 1px solid #22c55e;
  padding: 0.5rem;
  border-radius: 3px;
}
.json-text {
  font-size: 14px;
  color: #0f172a;
}
